*{
    padding: 0px;
    margin: 0px;
}

@font-face{
    font-family: 'Changa';
    src: local("fonts/Changa-SemiBold.ttf");
}

@font-face{
    font-family: 'Cairo';
    src: local("fonts/Cairo-SemiBold.ttf");
}

h2{
    font-family: Cairo; font-size: 48px;
}

h3{
    font-family: Cairo; font-size: 30px;
}

#container{
    
}

#navBar h1{
    float: left;
    font-family: Cairo;
    font-size: 25px;
    padding: 6px;
}

#navBar {
    background-color: #bd4b02;
    height: 60px; width: 100%;
}

#navBar ul{
    padding-right: 10%;
}

#navBar ul li:hover{
    background-color: #6c2b03;
}

#navBar ul img{
    float: left;
    display: block;
    float: right;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    padding: 4px 4px;  
    margin: 10px 10px 10px 10px;
}

#navSearch{
    border: 0px; border-radius: 22px;
    height: 39px; width: 150px;
    margin-top: 10px; padding: 0px 10px;
    font-family: Cairo; font-size: 20px; color: black;
    float: right;
    transition-property: width;
    transition-duration: 0.5s;
    transition-delay: 100ms;
}

#navSearch:focus{
    width: 300px;
}

.nav_btn{
    float: left;
    display: block;
    float: right;
    font-family: sans-serif;
    font-size: 22px;
    padding: 17px;   
}

.nav_btn a{
    color: white;
    text-decoration: none;
}

#siteTop {
    background-image: url(http://sfwallpaper.com/images/cool-simple-wallpapers-17.jpg); height: 572px; width: 100%;
    text-align: center;
    background-size: cover;
}

#siteTop img{
    width: 25.7%; 
    margin: 21px 0px;
}

#siteTop h1{
    text-align: center;
    font-family: Changa ;
    font-size: 48px;
    color: white;
    text-shadow: -2px 3px 3px #00000052;
    -webkit-text-stroke: 1px #6c2b03;
    }

.btnTop {
    background-color: #6c2b03; border: solid 1px white; border-radius: 22px;
    height: 50px; width: 190px;
    font-family: Cairo; font-size: 20px; color: white;
    margin: 21px 44px 0px;
    box-shadow: 0px 6px #0000004a;
    cursor: pointer;
}
#btnTopGroup{
    width: 842px; margin: 0px auto;
}

#mainMenu {
    background-color: #bd4b02;
    height: 60px;
}

#mainMenu ul{
    float: left;
    margin-left: 10%;
}

#mainMenu ul li:hover{
    background-color: #6c2b03;
}

#homeHover{
    background-color: #6c2b03;
}

.sectionColor{
    height: 500px;
    background-color: #d2aa5a;
    text-align: center;
}

.sectionColor h2{
    color: white;
}

.sectionWhite{
    height: 500px;
    background-color: white;
    text-align: center;
}

.sectionWhite h2{
    color: black;
}

.imgsGroup{
    margin: 30px 0%;
}

.slideImg{
    height: 300px; width: 250px;
    margin: 10px;
    border: solid 1px #bd4b02;
    border-radius: 30px;
    cursor: pointer;
}

.slideLeft{
    border: solid 1px #bd4b02;
    border-radius: 30px 1px 1px 30px;
    margin: 0px 15px 104px 1px;
    cursor: pointer;
}

.slideRight{
    border: solid 1px #bd4b02;
    border-radius: 1px 30px 30px 1px;
    margin: 0px 1px 104px 15px;
    cursor: pointer;
}

#slideCircles{
    margin: 0px 38%;
    cursor: pointer;
}

.slideCircle{
    width: 18px;
    margin: 0px 7px;
    cursor: pointer;
}

#contactUs{
    height: 640px;
    background-color: #524323;
    text-align: center;
}

#contactUsMain{
    width: 960px;
    margin: 0px auto;
}

#contactDetails{
    text-align: center;
    width: 480px;
    float: left;
}

#contactUs h2{
    color: white;
}

#contactDetails h3{
    color: white;
}

.contactImg{
    height: 75px;
    margin-top: 35px;
    margin-bottom: 10px;
}

#contactLocation{
    width: 480px;
    float: right;
}

#siteFooter{
    height: 60px;
    background-color: #ba4a04;
    color: white;
    text-align: center;
}